@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Trae Eddie CIS174</h1>
        <p><a asp-controller="Assignment" asp-action="Index" asp-route-lvl="1">Assignment 6.1 lvl 1</a></p>
        <p><a asp-controller="Assignment" asp-action="Index" asp-route-lvl="6">Assignment 6.1 lvl 6</a></p>
        <p><a asp-controller="Assignment" asp-action="Index" asp-route-lvl="10">Assignment 6.1 lvl 10</a></p>

    </div>
