@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Trae Eddie CIS174</h1>
        <p><a asp-controller="FutureValueHome" asp-action="Index">Future Value</a></p>
        <p><a asp-controller="FutureAgeHome" asp-action="Index">Future Age</a></p>
        <p><a asp-controller="MovieHome" asp-action="Index">Movies</a></p>
        <p><a asp-controller="ContactHome" asp-action="Index">Contacts</a></p>
    </div>
